# ðŸ¼ Pandas Series Practice Notebook

This notebook contains **step-by-step exercises** on Pandas Series.  
Solve them in order (easy â†’ advanced) to master the concept before moving to DataFrames ðŸš€.

### Exercise 1
Create a Series of marks of 5 students with custom names as index.

In [ ]:
# Your solution here
import pandas as pd
import numpy as np

Student=pd.Series([60,70,90,78,84], index=['Shreyas','Rushikesh','Yasraj','Kaif','Prathamesh'])
print(Student)

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64

### Exercise 2
Create a Series from a dictionary: {'Math': 90, 'Science': 80, 'English': 85}.

In [ ]:
# Your solution here
Student1=pd.Series({'Math': 90, 'Science': 80, 'English': 85})
print(Student1)

Math       90
Science    80
English    85
dtype: int64

### Exercise 3
Create a Series of 5 random integers using numpy.random.randint.

In [ ]:
# Your solution here
arr= np.random.randint(1,11,size=5)
print(arr)
arr1=pd.Series(arr)
print(arr1)

[7 2 3 9 2]
0    7
1    2
2    3
3    9
4    2
dtype: int32

### Exercise 4
Access 2nd and 4th student marks using both label and position.

In [ ]:
# Your solution here
print(Student)
print("2nd & 4th Students by label: \n",Student[['Rushikesh','Kaif']])
print("---------------")
print("2nd & 4th Students by position: \n",Student[[1,3]])

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
2nd & 4th Students by label:
 Rushikesh    70
Kaif         78
dtype: int64
---------------
2nd & 4th Students by position:
 Rushikesh    70
Kaif         78
dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_9560\4140414196.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("2nd & 4th Students by position: \n",Student[[1,3]])

### Exercise 5
Slice the first 3 elements of a Series.

In [ ]:
# Your solution here
print(Student)
print("First 3 elemnts of a series are: \n",Student[0:3] )

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
First 3 elemnts of a series are:
 Shreyas      60
Rushikesh    70
Yasraj       90
dtype: int64

### Exercise 6
Create a Series of fruit prices (apple, banana, grapes, mango). Increase all prices by 10%.

In [ ]:
# Your solution here
fruits=pd.Series({"apple":100,"banana":60,"grape":80,"mango":200})
print(fruits)
print("Price after increasing by 10% \n", fruits * 1.10)

apple     100
banana     60
grape      80
mango     200
dtype: int64
Price after increasing by 10%
 apple     110.0
banana     66.0
grape      88.0
mango     220.0
dtype: float64

### Exercise 7
Create a Series of numbers and add 5 to all elements.

In [ ]:
# Your solution here

Num= pd.Series([20,25,30,35,40])
print(Num)
print("After adding 5 to allelements :\n",Num + 5)

0    20
1    25
2    30
3    35
4    40
dtype: int64
After adding 5 to allelements :
 0    25
1    30
2    35
3    40
4    45
dtype: int64

### Exercise 8
Create another Series and perform addition with the first one.

In [ ]:
# Your solution here
Num2= pd.Series([10,25,40,55,43])
print("New array\n",Num2)
print("\nPrevious array\n",Num)

print("\nAfter performing addition in both series \n", Num + Num2)

New array
 0    10
1    25
2    40
3    55
4    43
dtype: int64

Previous array
 0    20
1    25
2    30
3    35
4    40
dtype: int64

After performing addition in both series
 0    30
1    50
2    70
3    90
4    83
dtype: int64

### Exercise 9
Filter values greater than the mean of the Series.

In [ ]:
# Your solution here
print(Student)
print("Mean:",Student.mean())
GreaterThanMean= Student > Student.mean()
print("Values Greater than mean \n",Student[GreaterThanMean])

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
Mean: 76.4
Values Greater than mean
 Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64

### Exercise 10
From a marks Series, find students who scored more than 75.

In [ ]:
# Your solution here
print(Student)
MoreThan75= Student> 75
print('Students who scored more than 75:\n',Student[MoreThan75])

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
Students who scored more than 75:
 Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64

### Exercise 11
Find sum, mean, min, max of a Series of numbers.

In [ ]:
# Your solution here
print(Student)
print("Sum of total marks are:",Student.sum())
print("Mean of total marks are:",Student.mean())
print("Lowest marks are:",Student.min())
print("Hightest marks are:",Student.max())

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
Sum of total marks are: 382
Mean of total marks are: 76.4
Lowest marks are: 60
Hightest marks are: 90

### Exercise 12
Sort a Series by values and by index.

In [ ]:
# Your solution here
print(Student)
print("Sort by values:\n",Student.sort_values())
print("Sort by index:\n",Student.sort_index())

Shreyas       60
Rushikesh     70
Yasraj        90
Kaif          78
Prathamesh    84
dtype: int64
Sort by values:
 Shreyas       60
Rushikesh     70
Kaif          78
Prathamesh    84
Yasraj        90
dtype: int64
Sort by index:
 Kaif          78
Prathamesh    84
Rushikesh     70
Shreyas       60
Yasraj        90
dtype: int64

### Exercise 13
Create a Series with some NaN values. Fill missing values with the mean.

In [ ]:
# Your solution here

Nanarr=pd.Series([10,20,np.nan,40,np.nan,60])
print(Nanarr)
NanMean= Nanarr.mean()
print("Mean is :",NanMean)
print("Array after filling Nan values\n",Nanarr.fillna(NanMean))

0    10.0
1    20.0
2     NaN
3    40.0
4     NaN
5    60.0
dtype: float64
Mean is : 32.5
Array after filling Nan values
 0    10.0
1    20.0
2    32.5
3    40.0
4    32.5
5    60.0
dtype: float64

### Exercise 14
Drop NaN values from the Series.

In [ ]:
# Your solution here
print(Nanarr)
print("After droping NaN values :\n",Nanarr.dropna())

0    10.0
1    20.0
2     NaN
3    40.0
4     NaN
5    60.0
dtype: float64
After droping NaN values :
 0    10.0
1    20.0
3    40.0
5    60.0
dtype: float64

### Exercise 15
Create a Series of daily temperatures for 7 days. Find the hottest and coldest day.

In [ ]:
# Your solution here
Temperature= pd.Series({'Monday':24, 'Tuesday':21,'Wednesday':36,'Thursday':30, 'Friday':19, 'Saturday':15, 'Sunday':40})
print(Temperature)

print('\n Hottest Day was:',Temperature.idxmax())
print('Coldest Day was:',Temperature.idxmin())

Monday       24
Tuesday      21
Wednesday    36
Thursday     30
Friday       19
Saturday     15
Sunday       40
dtype: int64

 Hottest Day was: Sunday
Coldest Day was: Saturday

### Exercise 16
Create two Series: sales in January and sales in February for 4 shops. Add them together to find total sales.

In [ ]:
# Your solution here
JanSale=pd.Series([20000,30000,10500,15000],index=['Shop1','Shop2','Shop3','Shop4'])
print(JanSale)

FebSale=pd.Series([18000,25000,13500,35000],index=['Shop1','Shop2','Shop3','Shop4'])
print(FebSale)

print("Total Sales of both Jan and Feb :\n", JanSale + FebSale)

Shop1    20000
Shop2    30000
Shop3    10500
Shop4    15000
dtype: int64
Shop1    18000
Shop2    25000
Shop3    13500
Shop4    35000
dtype: int64
Total Sales of both Jan and Feb :
 Shop1    38000
Shop2    55000
Shop3    24000
Shop4    50000
dtype: int64

### Exercise 17
Create a Series of exam marks for 5 students. Normalize marks (scale between 0 and 1).

In [ ]:
# Your solution here
marks = pd.Series({
    'Student1': 70,
    'Student2': 50,
    'Student3': 90,
    'Student4': 30,
    'Student5': 100
})

print("Original Marks:\n", marks)

# Normalize (0â€“1 scaling)
normalized = (marks - marks.min()) / (marks.max() - marks.min())

print("\nNormalized Marks (0â€“1):\n", normalized)

Original Marks:
 Student1     70
Student2     50
Student3     90
Student4     30
Student5    100
dtype: int64

Normalized Marks (0â€“1):
 Student1    0.571429
Student2    0.285714
Student3    0.857143
Student4    0.000000
Student5    1.000000
dtype: float64