# üêº Pandas Series Practice Notebook

This notebook contains **step-by-step exercises** on Pandas Series.  
Solve them in order (easy ‚Üí advanced) to master the concept before moving to DataFrames üöÄ.

### Exercise 1
Create a Series of marks of 5 students with custom names as index.

In [ ]:
# Your solution here

### Exercise 2
Create a Series from a dictionary: {'Math': 90, 'Science': 80, 'English': 85}.

In [ ]:
# Your solution here

### Exercise 3
Create a Series of 5 random integers using numpy.random.randint.

In [ ]:
# Your solution here

### Exercise 4
Access 2nd and 4th student marks using both label and position.

In [ ]:
# Your solution here

### Exercise 5
Slice the first 3 elements of a Series.

In [ ]:
# Your solution here

### Exercise 6
Create a Series of fruit prices (apple, banana, grapes, mango). Increase all prices by 10%.

In [ ]:
# Your solution here

### Exercise 7
Create a Series of numbers and add 5 to all elements.

In [ ]:
# Your solution here

### Exercise 8
Create another Series and perform addition with the first one.

In [ ]:
# Your solution here

### Exercise 9
Filter values greater than the mean of the Series.

In [ ]:
# Your solution here

### Exercise 10
From a marks Series, find students who scored more than 75.

In [ ]:
# Your solution here

### Exercise 11
Find sum, mean, min, max of a Series of numbers.

In [ ]:
# Your solution here

### Exercise 12
Sort a Series by values and by index.

In [ ]:
# Your solution here

### Exercise 13
Create a Series with some NaN values. Fill missing values with the mean.

In [ ]:
# Your solution here

### Exercise 14
Drop NaN values from the Series.

In [ ]:
# Your solution here

### Exercise 15
Create a Series of daily temperatures for 7 days. Find the hottest and coldest day.

In [ ]:
# Your solution here

### Exercise 16
Create two Series: sales in January and sales in February for 4 shops. Add them together to find total sales.

In [ ]:
# Your solution here

### Exercise 17
Create a Series of exam marks for 5 students. Normalize marks (scale between 0 and 1).

In [ ]:
# Your solution here