## ðŸ“˜ Pandas Series â€” Complete Notes
### ðŸ”¹ 1. What is a Series?

A Series is a **one-dimensional labeled array.**

It can hold data of any type: integers, strings, floats, Python objects, etc.

It is like a **column** of exel or any database. and elements are place **vertically (like column).**

Think of it like a **NumPy array with labels (index)** or like a **single column of a DataFrame.**

### 2. Creating a Series

In [2]:
import numpy as np
import pandas as pd

In [3]:
# From a Python List
s1= pd.Series([10,20,30,40,50])
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# With custom index
s2=pd.Series([10,20,30,40],index=['Student1','Student2','Student3','Student4'])
print(s2)

Student1    10
Student2    20
Student3    30
Student4    40
dtype: int64

In [14]:
# From a Dictionary
# Dictionary keys become index, values become data.

s3=pd.Series({"apple":100, "banana":60, "orange": 120})
print(s3)

apple     100
banana     60
orange    120
dtype: int64

In [16]:
# From NumPy Array

arr=np.array([1,2,3,4,5])
s4=pd.Series(arr, index=['a','b','c','d','e'])
print(s4)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
# Scalar Value
s5= pd.Series(7, index=['a','b','c','d','e'])
print(s5)

a    7
b    7
c    7
d    7
e    7
dtype: int64

### ðŸ”¹ 3. Accessing Elements

In [6]:
s = pd.Series([100, 200, 300, 400], index=['a','b','c','d'])
print(s)

a    100
b    200
c    300
d    400
dtype: int64

In [ ]:
# (a) By Index Label
print(s['a'])
print(s[['a','d']])

# (b) By Position
print(s[0])
print(s[[1,3]])

100
a    100
d    400
dtype: int64
100
b    200
d    400
dtype: int64

C:\Users\Admin\AppData\Local\Temp\ipykernel_14552\47212983.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])
C:\Users\Admin\AppData\Local\Temp\ipykernel_14552\47212983.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[[1,3]])

### ðŸ”¹ 4. Useful Attributes

In [38]:
print(s.index) 
print(s.values)
print(s.dtype)
print(s.shape)
print(s.size)

Index(['a', 'b', 'c', 'd'], dtype='object')
[100 200 300 400]
int64
(4,)
4

### ðŸ”¹ 5. Operations on Series

In [46]:
# (a) Vectorized Operations

print(s)
print(s+10)
print(s-10)
print(s*10)
print(s/10)
print(s//10)
print(s% 10)

a    100
b    200
c    300
d    400
dtype: int64
a    110
b    210
c    310
d    410
dtype: int64
a     90
b    190
c    290
d    390
dtype: int64
a    1000
b    2000
c    3000
d    4000
dtype: int64
a    10.0
b    20.0
c    30.0
d    40.0
dtype: float64
a    10
b    20
c    30
d    40
dtype: int64
a    0
b    0
c    0
d    0
dtype: int64

In [50]:
# Element-wise with Another Series
s2 = pd.Series([50, 60, 70, 80], index=['a','b','c','d'])
print(s+s2)

a    150
b    260
c    370
d    480
dtype: int64

### ðŸ”¹ 6. Filtering (Boolean Indexing)

In [51]:
print(s[s>200])

c    300
d    400
dtype: int64

### ðŸ”¹ 7. Common Methods

In [52]:
print(s)

a    100
b    200
c    300
d    400
dtype: int64

In [7]:
print(s.head(2))   # First 2 values
print(s.tail(2))   # Last 2 values
print(s.sum())     # Sum of values
print(s.mean())    # Average
print(s.max())     # Max value
print(s.min())     # Min value
print(s.sort_values())   # Sort by values
print(s.sort_index())    # Sort by index

a    100
b    200
dtype: int64
c    300
d    400
dtype: int64
1000
250.0
400
100
a    100
b    200
c    300
d    400
dtype: int64
a    100
b    200
c    300
d    400
dtype: int64

In [ ]:
s4 = pd.Series([1000, 200, 100, 400], index=['b','a','c','d'])
print(s4.sort_values())
print(s4.sort_index())

c     100
a     200
d     400
b    1000
dtype: int64
a     200
b    1000
c     100
d     400
dtype: int64

### ðŸ”¹ 8. Handling Missing Data

In [66]:
s7 = pd.Series([10, 20, np.nan, 40])
print(s7)

0    10.0
1    20.0
2     NaN
3    40.0
dtype: float64

In [67]:
print(s7.isnull())

0    False
1    False
2     True
3    False
dtype: bool

In [68]:
print(s7.notnull())

0     True
1     True
2    False
3     True
dtype: bool

In [72]:
print(s7.fillna(30))
print(s7)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64
0    10.0
1    20.0
2     NaN
3    40.0
dtype: float64

In [74]:
print(s7.dropna())
print(s7)

0    10.0
1    20.0
3    40.0
dtype: float64
0    10.0
1    20.0
2     NaN
3    40.0
dtype: float64